<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="utf-8">
  <title>Register</title>
</head>

<body>
  <h1>Registration</h1>

  <p>Give me your username and password</p>
  
  <form action="/create_hash" method="POST">

  <div>
   <label for="userName">User Name:</label>
   <input type="text" id="userName" name="userName">
  </div>

  <div>
   <label for="passWord">Password:</label>
   <input type="text" id="passWord" name="passWord">
  </div>

  <div>
   <label for="adminPassword">Admin password:</label>
   <input type="password" id="adminPassword" name="adminPassword">
  </div>

  <div>
        <button type="submit" id="submitButton">Register</button>
  </div>
  </form>

  </body>