<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Books</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>

<body>
<h1>Rent a book</h1>
  <p>Here you can rent a book</p>

  <form action="/form_lefoglal/book_get" method="POST" enctype="multipart/form-data">
    <div>
    <label for="personName">Your Name:</label>
    <input type="text" id="personName" pattern="[A-Z][a-z]+ [A-Z][a-z]+" name="personName">
    </div>

    <div>
    <label for="bookIsbnNumber">ISBN Number:</label>
    {{#if konyvISBN}}
    <select name="bookIsbnNumber">
         {{#each konyvISBN}}
    <option value="{{ISBN}}">{{ISBN}}</option>
         {{/each}}
    </select>
    {{else}}
       <p class="message">No requests to show</p>
    {{/if}}
    </div>    
    <div>
        <button type="submit" id="getBook">Get the book</button>
    </div>
   </form>
</body>